@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

body {
    background-color: #202020;
    margin: 0;
    overflow-x: hidden;
}

.spinner {
    --size: 30px;
    --first-block-clr: #ffffff;
    --second-block-clr: #ffffff;
    --clr: #111;
    width: 100px;
    height: 100px;
    position: center;
}



.spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--first-block-clr);
}

.spinner::after {
    background: var(--second-block-clr);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }
}

@keyframes up {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        transform: translateY(-100%);
    }
}

.visible-false {
    padding-left: 999999vh;
    position: absolute;
}

.centered {
    padding: 30vh 0;
}

@media (orientation: portrait) {
    .centered {
        padding: 35vh 0;
    }
}

.navBarButton {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.memwText {
    color: #FFFFFF;
    font-size: 7rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.memwDesc {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.fixed {
    position: fixed;
    margin-left: 65vh;
    margin-top: 0;
    padding-bottom: 50vh;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}


.description {
    margin-top: 20vh;
}

.tg  {border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;
    margin-left: auto;
    margin-right: auto;
}

.tg td{
:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-hfk9{
    background-color:#202020;
    border-color: #ffffff;
    border-left: 0;
    border-right: 0;
    height: 1vh;
    text-align:left;
    vertical-align:top
}

.tg .tg-gbqi{
    background-color:#656565;
    border-color:#ffffff;
    color:#ffffff;
    text-align:left;
    vertical-align:top
}

.tg .tg-ag0s{
    background-color:#656565;
    border-color:#ffffff;
    color:#ffffff;
    text-align:center;
    vertical-align:top
}

.tg .tg-k8xc{
    background-color:#343434;
    border-color:#ffffff;
    color:#ffffff;
    text-align:left;
    vertical-align:top
}

.copyright {
    text-align: center;
    color: white;
}

.separator {
    width: 100vw;
    margin-top: 7rem;
    padding: 10vh 0;
    background-color: #303030;
    color: white;
    text-align: center;
}

@media (orientation: portrait) {
    .separator{
        margin-top: 19rem;
    }
}

.zoomedImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(56,56,56,70%);
}

.zoomedImage2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 70vh;

}

.lcommands {
    text-align: center;
    font-size: 2rem;
}

::-webkit-scrollbar {
    background: transparent;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 10px;
    overflow: auto;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background: #232323;
    overflow: auto;
}



@media (max-height: 900px) and (orientation: landscape) {
    .centered {
        padding: 15vh 0;
    }
    .imgUnselected {
        width: 50vw;
        height: 50vh;
    }

}

@media (orientation: portrait) {
    .navBarButton {
        font-size: 3em;
    }
    .imgUnselected {
        width:40vh;
        height: 20vh;
    }
    .zoomedImage2 {
        width: 50vh;
        height: 30vh;
    }
    .separator{
        margin-top: 20rem;
    }
}

.disabledLink {
    pointer-events: none;
    color: #8c8c8c;
}

.project-title-div {
    text-align: center;
}

.projects-title {
    font-size: 50px;
}

.projects {
    padding-left: 20vw;
    padding-right: 20vw;
}

.project {
    background-color: #292929;
    border-radius: 15px;
    padding-bottom: 10px;
}

.project-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: -15px;
}

.project-description {
    color: white;
    font-size: 1.5rem;
    padding-left: 15px;
}

.project-view {
    color: white;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    background-color: #232323;
    border-radius: 10px;
}

.pcpp-part-list {
    padding-left: 2vw;
    padding-right: 2vw;
}

.bottomText {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -10px;
}

@media (orientation: portrait) {
    .projects {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .project {
        margin-bottom: 2vh;
    }
    .project-view {
        font-size: 2.5rem;
    }

    .project-title {
        font-size: 3rem;
    }

    .project-description {
        font-size: 2rem;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}
